@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  /* background-color: #f9fafa; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}
:root {
  --fz1-font-size: 40px;
  --fz2-font-size: 44px;
  --fz3-font-size: 48px;
  --fz4-font-size: 52px;
  --fz5-font-size: 56px;
  --pa1-padding: 10px;
  --pa2-padding: 20px;
  --pa4-padding: 40px;
  --ma1-margin: 10px;
  --ma2-margin: 20px;
  --pa90-padding: 90px;
}

/*main*/
main {
  width: auto;
  margin-top: 70px;
}
.contanier1,
.subscribe {
  width: 800px;
  margin: 0px auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex: 1;
}
.sm-pic {
  width: 16% !important;
}
.text-center {
  text-align: center;
}
p , h3 { 
  color: #555;
  font-size: small;
}
h5 {
  font-size: 16px;
  color: #333;
  margin: 10px;
}
.smp {
  font-size: 14px;
  color: #555;
  width: 246px;
  display: inline-block;
}
.link-dec { margin-top: 50px;
  text-align: center;
  border: 1px solid #555;
}

.flex-column img {
  width: 100%;
  /* object-fit: cover; */
}

.contanier1 > div {
  margin-bottom: 20px;
}
.btn-white {
  border: 1px solid #555;
  padding: 10px;
}
.hover-effect-text:hover {
  color: rgb(255, 121, 121);
  cursor: pointer;
}
.start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
}
.pa2 {
  padding: var(--pa2-padding);
}
.flex-1 {
  flex: 1;
}
.align-items-left {
  align-items: flex-start;
}
.pa90 {
  padding: var(--pa90-padding);
}
.pa4 {
  background-color: rgb(241, 245, 233);
  /* padding: var(--pa4-padding); */
  padding: 44px 0;
}
.grid2 {
  position: relative;
  display: grid;
  grid-gap: 13px;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(2, 50px);
}
.blog-ph {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.join-box {
  margin-top: 30px;
  display: flex;
  text-align: center;
  align-items: center; 
  
}
.join-box .subscribe-box input {
  padding: 10px 0; 
  border: none;
  border-bottom: 1px solid black;
  
  
}
.subscribe-box2 { 
  margin-top: 20px;
}
.join-box .subscribe-box2 input { 
  padding: 20px 0; 
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.join-box a { 
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px 26px;
}
/*Footer*/
footer { border: 3px solid pink;
  width: 100%;
  height: 300px;
  margin-top: 44px;
  display: flex;
  background-color: #333 !important;
  color: rgb(185, 161, 161);
  ;}
  footer .contanier-footer .footer-row { 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .footer .footer-row .footer-col1 { 
    flex: 1;
  }
  footer .footer .footer-row .footer-col2 { 
    flex: 1;
  }
  footer .contanier-footer .footer .footer-row .col2  .conctact input { 
   height: 300px;
   margin: 10px 0;
  padding: 20px 0; 
  border: none;
  border-bottom: 1px solid white;
  
  } 
  .submit { 
    padding: 10px 20px;
   
  }
  


  

  
  
 
